In [1]:
import pandas as pd
import numpy as np
import wrangle_zillow

In [2]:
df_orig = wrangle_zillow.get_zillow_data()
df_orig.shape

(77381, 67)

In [3]:
df = df_orig.copy()
df = wrangle_zillow.handle_missing_values(df)
df.shape

/Users/camerontaylor/codeup-data-science/clustering_project/cameron_project/wrangle_zillow.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(axis=1, thresh=threshold, inplace=True)
/Users/camerontaylor/codeup-data-science/clustering_project/cameron_project/wrangle_zillow.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(axis=0, thresh=threshold, inplace=True)

(52307, 19)

In [4]:
df = wrangle_zillow.extra_clean(df)
df.shape

(52268, 18)

FIPS:

- 6037: Los Angeles County
- 6059: Orange County
- 6111: Ventura County

In [5]:
df.fips.replace({6037:'LA County', 6059:'Orange County',
                6111:'Ventura County'}, inplace=True)

In [6]:
df = df.rename(columns={'fips':'county'})

In [7]:
df.roomcnt.replace(0, round(df.roomcnt.mean()), inplace=True)

In [8]:
df['age'] = 2017 - df.yearbuilt
df['taxrate'] = df.taxamount/df.taxvaluedollarcnt

In [9]:
df['land_sqft_price'] = df.landtaxvaluedollarcnt/\
    df.lotsizesquarefeet
df['house_sqft_price'] = df.structuretaxvaluedollarcnt/\
    df.calculatedfinishedsquarefeet

In [10]:
df.columns.tolist()

['logerror',
 'bathroomcnt',
 'bedroomcnt',
 'calculatedfinishedsquarefeet',
 'county',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'propertycountylandusecode',
 'rawcensustractandblock',
 'regionidcity',
 'regionidzip',
 'roomcnt',
 'yearbuilt',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'landtaxvaluedollarcnt',
 'taxamount',
 'age',
 'taxrate',
 'land_sqft_price',
 'house_sqft_price']

In [11]:
df.head(1)

,logerror,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,county,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,rawcensustractandblock,...,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,age,taxrate,land_sqft_price,house_sqft_price
parcelid,,,,,,,,,,,,,,,,,,,,,
10711855,0.025595,3.5,4.0,3100.0,Orange County,33634931.0,-117869207.0,4506.0,122,6.059063e+07,...,2.0,1998.0,485713.0,1023282.0,537569.0,11013.72,19.0,0.010763,119.30071,156.681613

In [13]:
df.taxrate.value_counts()

0.014036    3
0.012012    3
0.011532    3
0.010842    3
0.012209    3
           ..
0.011373    1
0.012637    1
0.014027    1
0.012411    1
0.011464    1
Name: taxrate, Length: 52044, dtype: int64